@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: white;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  overflow: hidden;
}

body {
}

#header {
  margin: 0;
  width: 100%;
  padding: 2px;
  background: #141414;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 30px);
}

#input-container {
  flex: 1;
  height: 50%;
}

#output-container {
  flex: 1;
  background: #1e1e1e;
  overflow: auto;
  padding-left: 8px;
}

#error {
  color: white;
  border: 1px solid red;
  padding: 4px;
}

#error-title {
  margin: 0;
  word-break: break-all;
}

#error-body {
  margin-top: 8px;
}

div.vl {
  display: none;
  opacity: 0.5;
  margin: 0 4px;
}

.header-helper {
  display: none;
}

#loading {
  position: absolute;
  font-size: 30px;
  left: 0;
  bottom: 0;
}

select,
option,
button {
  background: #333;
  color: white;
}

#share-popup {
  position: absolute;
  top: 30px;
  left: 12px;
  width: 90%;
  height: 100px;
  background: #222;
  color: white;
  border: 1px solid #666;
  padding: 12px;
}

#share-popup-close {
  margin-bottom: 12px;
}

.hidden {
  display: none;
}

#share-popup-url {
  color: black;
  width: 100%;
}

#header > button {
  width: 100px;
  height: 30px;
  margin: 4px;
}

#header > select {
  margin: 4px;
  height: 30px;
  min-width: 100px;
}

#github {
  display: inline-block;
}

@media screen and (min-width: 800px) {
  #main-container {
    flex-direction: row;
  }

  #input-container {
    height: 100%;
    width: 50%;
  }

  div.vl {
    display: inline-block;
  }

  .header-helper {
    display: inline;
  }

  #share-popup {
    width: 500px;
  }

  #header > button {
    width: 88px;
    height: 25px;
  }

  #header > select {
    height: 25px;
  }
}
