@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: white;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  overflow: hidden;
}

body {
  padding: 4px;
}

#header {
  height: 40px;
  padding: 0 8px;
}

#main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#input-container {
  flex: 1;
}

#output-container {
  flex: 1;
  margin-left: 12px;
  background: #1e1e1e;
  overflow: auto;
}

#error {
  color: white;
  border: 1px solid red;
  padding: 4px;
}

#error-title {
  margin: 0;
}

#error-body {
  margin: 8px;
}

div.vl {
  display: inline-block;
  opacity: 0.2;
}

#loading {
  font-size: 40px;
}

select,
option,
button {
  background: #333;
  color: white;
}

#share {
  padding: 0 20px;
}

#share-popup {
  position: absolute;
  top: 30px;
  left: 12px;
  width: 500px;
  height: 100px;
  background: #222;
  color: white;
  border: 1px solid #666;
  padding: 12px;
}

#share-popup-close {
  margin-bottom: 12px;
}

.hidden {
  display: none;
}

#share-popup-url {
  color: black;
  width: 100%;
}
