.app {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editorWrapper {
  display: flex;
  flex: 1;
  overflow: auto;
}

.tsWrapper {
}

.sqlWrapper {
}

@media screen and (min-width: 800px) {
  .wrapper {
    flex-direction: row;
  }
}
