[data-theme="light"] {
  --font-color: #303030;
  --border-color: #ccc;
  --header-color: #edeff6;
}

[data-theme="dark"] {
  --font-color: #eee;
  --border-color: #333;
  --header-color: #1a1e23;
}
/*********************************************** */

:root {
  color: var(--font-color);
}

.panel {
  border-color: var(--border-color);
}

#header {
  background-color: var(--header-color);
}

/*********************************************** */

[data-theme="light"] .light {
  display: block;
}

[data-theme="light"] .dark {
  display: none;
}

[data-theme="dark"] .light {
  display: none;
}

[data-theme="dark"] .dark {
  display: block;
}
