[data-theme="light"] {
  --font: #303030;
  --border: #ccc;
  --header: #edeff6;
  --header-hover: #ddd;
  --bg: #fff;
  --toast-bg: #333;
  --toast: #fff;
  --result-trace: #444;
  --result-info: #333;
  --result-warn: #820;
  --result-error: #f00;

  --hljs-bg: white;
  --hljs-fg: black;
  --hljs-comment: #008000;
  --hljs-keyword: #00f;
  --hljs-string: #a31515;
  --hljs-deletion: #2b91af;
  --hljs-doctag: #808080;
  --hljs-attr: #f00;
  --hljs-symbol: #00b0e8;
}

[data-theme="dark"] {
  --font: #eee;
  --border: #444;
  --header: #1a1e20;
  --header-hover: #666;
  --bg: #1e1e1e;
  --toast-bg: #eee;
  --toast: #000;
  --result-trace: #aaa;
  --result-info: #bbb;
  --result-warn: #fc6;
  --result-error: #f44;

  --hljs-bg: #1e1e1e;
  --hljs-fg: #dcdcdc;
  --hljs-comment: #57a64a;
  --hljs-keyword: #569cd6;
  --hljs-string: #d69d85;
  --hljs-deletion: #600;
  --hljs-doctag: #608b4e;
  --hljs-attr: #9cdcfe;
  --hljs-symbol: #569cd6;
}
/*********************************************** */

.panel {
  background-color: var(--bg);
  border-color: var(--border);
}

#header {
  background-color: var(--header);
}

#header * {
  background-color: var(--header);
  color: var(--font);
}

#header > select:hover,
#header > button:hover {
  background-color: var(--header-hover);
}

#toast {
  background-color: var(--toast-bg);
  color: var(--toast);
}

.loading {
  color: var(--font);
}

#result > .result-item > .message.trace {
  color: var(--result-trace);
}

#result > .result-item > .message.info {
  color: var(--result-info);
}

#result > .result-item > .message.warn {
  color: var(--result-warn);
}

#result > .result-item > .message.error {
  color: var(--result-error);
}

/*********************************************** */

[data-theme="light"] .light {
  display: block;
}

[data-theme="light"] .dark {
  display: none;
}

[data-theme="dark"] .light {
  display: none;
}

[data-theme="dark"] .dark {
  display: block;
}

/******************************************** highlight.js */

.hljs {
  background: var(--hljs-bg);
  color: var(--hljs-fg);
}
.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: var(--hljs-comment);
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: var(--hljs-keyword);
}
.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: var(--hljs-string);
}
.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: var(--hljs-deletion);
}
.hljs-doctag {
  color: var(--hljs-doctag);
}
.hljs-attr {
  color: var(--hljs-attr);
}
.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: var(--hljs-symbol);
}
