@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  --header-height: 1.4rem;
}

* {
  font-family: "JetBrains Mono", Courier, Consolas, monospace !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-end {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.header-icon {
  width: calc(var(--header-height) - 2px);
  height: calc(var(--header-height) - 2px);
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

#main {
  width: 100%;
  height: calc(100% - var(--header-height));
}

#panel-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.panel {
  flex: 1;
  border-width: 1px;
  border-style: solid;
}

.monaco-editor {
  position: absolute !important;
}

/************************************************************* PORTRAIT */

#panel-container {
  flex-direction: column;
}

/************************************************************ LANDSCAPE */
@media (min-width: 650px) {
  #panel-container {
    flex-direction: row;
  }
}
