@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: white;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  overflow: hidden;
}

body {
  padding: 4px;
}

#header {
  height: 40px;
  padding: 0 8px;
}

#main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#input-container {
  flex: 1;
}

#output-container {
  flex: 1;
  margin-left: 12px;
  background: #1e1e1e;
  overflow: auto;
}

#error {
  color: red;
  background-color: #ddd;
  padding: 4px;
}

#error.empty {
  display: none;
}

div.vl {
  display: inline-block;
  font-size: 18px;
}

#loading {
  font-size: 40px;
}

select,
option,
button {
  background: #333;
  color: white;
}
